<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Don't forget select your meals!</h1>
    <p>Click here to select your meals: <%= @url %></p>
  </body>
</html>
