<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is the meals selection of <%= @user_email %></h1>
    <p>Click here to see the meals</p>
    <p><%= link_to('meals', @selection)%></p>
  </body>
</html>
