<h1>Meals</h1>
<%= link_to('Create', new_meal_path) %>
<%= link_to('My selections', selections_path) %>
<table>
  <tr>
    <th>name</th>
    <th>photo</th>
    <th colspan="2"></th>
  </tr>
  <% @meals.each do |meal| %>
    <tr>
      <td><%= meal.name %></td>
      <td><%= image_tag(meal.img) %></td>
    </tr>
  <% end %>
</table>
